* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --btn-bg: linear-gradient(to right, olivedrab, orange, gold);
    --btn-border: darkcyan;
}

.container {
    height: 100%;
    width: 100%;
    background-image: url(./images/library.jpg);
    position: absolute;
    background-position: center;
}

h4 {
    font-family:'Courier New', Courier, monospace;
    color: darkolivegreen;
    padding: 0 10px;
    border-top: 1px solid olive;
    border-bottom: 1px solid olive;
}

.formContainer {
    width: 380px;
    height: 640px;
    position: relative;
    margin: 6% auto;
    background: rgba(245, 245, 245, 0.8);
    padding: 5px;
    border-radius: 50px;
    overflow: hidden;
}

.buttonGroup {
    width: 210px;
    margin: 34px auto;
    position: relative;
    box-shadow: 0 0 20px 9px var(--btn-border);
    border-radius: 30px;
}

.toggle_btn {
    padding: 10px 25px;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    cursor: pointer;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 100px;
    height: 100%;
    background: var(--btn-bg);
    border-radius: 30px;
    box-shadow: 0 0 10px 2px olive;
    transition: .5s;
}

.icons {
    margin: 30px auto;
    text-align: center;
}

.icons img {
    width: 35px;
    margin: 0 12px;
    padding: 5px 5px;
    cursor: pointer;
    box-shadow: 0 0 10px 2px olivedrab;
    border-radius: 30px;
}

.formGroup {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.inputArea {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid olive;
    outline: none;
    background: transparent;
}

.checkBox {
    margin: 30px 10px 30px 0;
}

span {
    color: rgb(36, 21, 22);
    font-size: 14px;
    bottom: 65px;
    position: absolute;
}

.submit_btn {
    width: 80%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: var(--btn-bg);
    box-shadow: 0 0 20px 9px var(--btn-border);
    border-radius: 30px;
    border: 0;
    outline: none;
}

#login {
    left: 50px;
}

#register {
    left: 500px;
}